<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Crios</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&amp;amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/common.css">
</head>

<body>
    <header class="header header--indent">
        <div class="box header__content">
            <nav class="main-nav">
                <div class="menu"><button class="button button--circle button-menu button-menu--opened" type="button"><span class="button-menu__container"><span class="button-menu__icon"></span></span></button>
                    <nav class="nav-menu">
                        <ul class="nav-menu__list">
                            <li class="nav-menu__item"><a class="nav-menu__link" href="#5">Home</a></li>
                            <li class="nav-menu__item"><a class="nav-menu__link" href="#5">Home</a></li>
                            <li class="nav-menu__item"><a class="nav-menu__link" href="#5">Home</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-logo"><a class="header-logo__link" href="#5"><span class="header-logo__title">Crios</span><span class="text text--size-l text--darker header-logo__subtitle">Free psd template</span></a></div>
                <div class="search">
                    <form class="search__form"><input class="search__field"><button class="button button--circle search__button" type="button"><span class="button__image"><img class="button__icon" src="images/svg-icon/search.svg" alt="search"></span></button></form>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="banner">
            <div class="box">
                <h1 class="title banner__title">Simple PSD template with cool stuff</h1>
                <p class="text text--size-l banner__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><a class="button button--square banner__link" href="#5"><span class="button__text">Explore template</span></a>
            </div>
        </div>
        <div class="offers offers--indent">
            <div class="box offers__content">
                <p class="text text--size-l offers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <h2 class="title offers__title">Lorem ipsum dolor sit amet</h2>
                <div class="offers__list">
                    <div class="offer"><img class="offer__img" src="images/offers/offer-1.jpg" alt="Offer">
                        <p class="offer__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--lighter offer__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                    <div class="offer"><img class="offer__img" src="images/offers/offer-2.jpg" alt="Offer">
                        <p class="offer__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--lighter offer__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                    <div class="offer"><img class="offer__img" src="images/offers/offer-3.jpg" alt="Offer">
                        <p class="offer__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--lighter offer__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                    <div class="offer"><img class="offer__img" src="images/offers/offer-4.jpg" alt="Offer">
                        <p class="offer__title">Lorem ipsum dolor sit amet</p>
                        <p class="text text--lighter offer__text">Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.</p>
                    </div>
                </div><a class="button button--square offers__link" href="#5"><span class="button__text">Check our offer</span></a>
            </div>
        </div>
        <div class="photo">
            <div class="photo__content">
                <div class="photo__box">
                    <div class="photo__image-block"><img class="photo__img" src="images/photo/photo-1.jpg" srcset="images/photo/photo-1@2x.jpg 2x" alt="Photo"></div>
                    <div class="text-block photo__text-block">
                        <h3 class="title text-block__title">Lorem ipsum dolor</h3>
                        <p class="text text--size-m text--lighter text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                    </div>
                </div>
                <div class="photo__box">
                    <div class="text-block photo__text-block photo__text-block--second">
                        <h3 class="title text-block__title">Lorem ipsum dolor</h3>
                        <p class="text text--size-m text--lighter text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                    </div>
                    <div class="photo__image-block"><img class="photo__img" src="images/photo/photo-2.jpg" srcset="images/photo/photo-2@2x.jpg 2x" alt="Photo"></div>
                </div>
            </div>
        </div>
        <div class="screen-app">
            <div class="box">
                <div class="screen-app-item screen-app-item--first">
                    <div class="screen-app-item__img-block"><img class="screen-app-item__img" src="images/apps/app-1.png" srcset="images/apps/app-1@2x.png 2x" alt="Screen app"></div>
                    <div class="text-block screen-app-item__text-block">
                        <h3 class="title text-block__title title--blue">Lorem ipsum dolor</h3>
                        <p class="text text--size-m text--lighter text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                    </div>
                </div>
                <div class="screen-app-item screen-app-item--second">
                    <div class="text-block screen-app-item__text-block">
                        <h3 class="title text-block__title title--blue">Lorem ipsum dolor</h3>
                        <p class="text text--size-m text--lighter text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                    </div>
                    <div class="screen-app-item__img-block"><img class="screen-app-item__img" src="images/apps/app-2.png" srcset="images/apps/app-2@2x.png 2x" alt="Screen app"></div>
                </div>
            </div>
        </div>
        <div class="ceo">
            <div class="box ceo__content">
                <div class="ceo__img"><img class="ceo__photo" src="images/photo/ceo.jpg" srcset="images/photo/ceo@2x.jpg 2x" alt="Photo ceo"></div>
                <div class="ceo__description">
                    <div class="text-block ceo__text-block">
                        <h3 class="title text-block__title title--red">Template is awesome</h3>
                        <p class="text text--size-m text--lighter text-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                    </div>
                    <p class="ceo__name">John Doe</p>
                    <p class="text text--size-m ceo__profession">CEO at Crios.com</p>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="box footer__content">
            <p class="text text--size-l footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h3 class="title footer__title">Lorem ipsum dolor sit amet</h3><button class="button button--square footer__button" type="button"><span class="button__text">SYMU.CO/FREEBIES</span></button>
        </div>
    </footer>
    <script src="scripts/common.js"></script>
</body>

</html>
