.button {
    border: none;
    background: #ffffff;
    box-shadow: 0 0 65px #dae5ef;
    padding: 0;
    outline: none;
    display: inline-block;

    &--circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    &--square {
        border-radius: 22px;
        padding: 15px 38px;
        min-width: 229px;
        min-height: 51px;
        box-sizing: border-box;
    }

    &__text {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.14px;
        line-height: calc(18/14);
        color: #43a9ff;
        text-transform: uppercase;
    }

    &__image {
        display: inline-block;
    }
}
